<div id='registration' class="row">
  <form class="col s12 registrForm" action="/registration" method="POST">

    <div class="row">
      <div class="input-field col s12">
        <input name="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>

    <p>
      <label>
        <input name='status' value="statusGrandma" type="radio" class="with-gap" checked/>
        <span>Grandma</span>
      </label>
    </p>
    <p>
      <label>
        <input name='status' value="statusSon" type="radio" class="with-gap" />
        <span>Grandson</span>
      </label>
    </p>

    <div class="row gEmail">
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Registration
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<script>
  const inputStatus = document.getElementsByClassName('with-gap')[1]
const inputStatusMa = document.getElementsByClassName('with-gap')[0]
// console.log(inputStatus);
inputStatus.addEventListener('click', (e) => {
  // console.log(e.target.value);
  if (e.target.value) {
    document.querySelector('.gEmail').innerHTML = `
    <div class="input-field col s6">
    <input name="grandmaEmail" type="email" class="validate">
    <label for="grandmaEmail">Grandma's Email</label>
  </div>
  `
  }
})

inputStatusMa.addEventListener('click', (e) => {
  if (e.target.value) {
    document.querySelector('.gEmail').innerText = ''
  }
})

</script>
