<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p id="footer-text" class="grey-text text-lighten-4"></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Created by Elbrus Team Babuliny Pirozhochki 
    </div>
  </div>
</footer>
