<nav>
  <div class="nav-wrapper container">
    <a href="/login" class="brand-logo">Helper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>

      {{#if email}}
      <li><a href="/logout">LogOut</a></li>

      {{else}}
      <li><a href="/login">LogIn</a></li>
      <li><a href="/registration">Registration</a></li>

      {{/if}}
    </ul>
  </div>
</nav>
