<div>
  <h1>Инструкция для бабушки</h1>
  <hr>
  <p>Дорогая бабушка! Здорово, что ты решила пользоваться приложением, которое позволяет загружать картинки и читать
    текст из них. </p>
  <p>Наше ТЗ:</p>
  Регистрация<br>
  <p>Форма для регистрации:</p>
  Имя
  Статус ( бабушка или внук )
  Пароль
  Если это внук - то кто его бабушка

  Основная страница
  Подробная инструкция с тем как пользоваться приложением
  Кнопка загрузки картинки
  Блок для вывода распознанного текста
  Кнопка воспроизведения текста
  Страница просмотра для внука
  список картинок, которые смотрела бабушка
</div>
