<div class="instruction-box container">
  <h1>Инструкция для бабушки</h1>
  <hr>
  <div class="instruction-text">
    <p>Дорогая бабушка! Здорово, что ты решила пользоваться приложением, которое позволяет загружать картинки и читать
      текст из них. </p>
    <p>Наше ТЗ:</p>
    Регистрация<br>
    <p>Форма для регистрации:</p>
    <ul class="instruction-items">
      <li class="instruction-item">Имя</li>
      <li class="instruction-item">Статус ( бабушка или внук )</li>
      <li class="instruction-item">Пароль</li>
      <li class="instruction-item">Если это внук - то кто его бабушка</li>
      <li class="instruction-item ">Основная страница
        Подробная инструкция с тем как пользоваться приложением
        Кнопка загрузки картинки
        Блок для вывода распознанного текста
        Кнопка воспроизведения текста
        Страница просмотра для внука
        список картинок, которые смотрела бабушка</li>
    </ul>
  </div>

</div>
