<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/css/materialize.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Ranchers&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Compiled and minified JavaScript -->
  <script defer src="/js/materialize.js"></script>
  <script defer src="/js/authFront.js"></script>
  <script defer src="/js/instructionFront.js"></script>
  <script defer src="/js/picturesFront.js"></script>

  <title> title </title>

</head>

<body>
  {{> nav}}

  <main id='fotoSection' class="container">
    {{{body}}}
  </main>
  {{> footer}}
</body>

</html>
