<div class='body-button body-title'>
  <div class='body-button_foto'>
    <p>Вы можете загрузить фото</p>
  </div>

  <form id='newForm' action="/pictures/new" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input class='button-new filedata' type="file" name="filedata">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
      <div class="button-new_send">
        <buttom class="button-new btn">Send</button>
      </div>


    </div>
  </form>
  {{#if src1}}
  <div class="bodyClass">
    <img class='newImg' src={{src1}}>
  </div>
  {{/if}}

</div>
