<div class='body-button'>
  <div>
    <p>Вы можете загрузить фото</p>
  </div>

  <form action="/pictures/new" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
          <span>File</span>
          <input class = 'button-new' type="file" name="filedata">
      </div>
      <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
      </div>
      <div class="button-new_send">
        <input class="button-new  btn" type="submit" value="Send">
      </div>
           

    </div>
  </form>
  {{#if src1}}
  <div class="bodyClass">
    <img class='newImg' src={{src1}}>
  </div>
  {{/if}}

</div>
