<img class="materialboxed" width="650" src={{src}}>

<button id="readFile" class="waves-effect waves-light btn-large">Read</button>

{{!-- {{#if grandMother}} --}}
<button class="waves-effect waves-light btn-large">Delete</button>
{{!-- {{/if}} --}}
