<div id={{id}} class="divPic">
<img  class="materialboxed" width="650" src={{src}}>

<button id="readFile" class="waves-effect waves-light btn-large">Read</button>
{{#if grandMother}}

<button id="deleteFile" class="waves-effect waves-light btn-large deleteFileButton">Delete</button>
{{/if}}
</div>

<div class="readedText">

</div>

